.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.text1 {
  font-family: "Fredoka" !important;
  font-weight: 600;
  color: black;
}

.text2 {
  font-family: "Fredoka" !important;
  font-weight: 400;
  color: black;
  font-size: 14px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
  }
  
  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

.button {
  background-color: transparent;
  font-family: "Fredoka";
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: auto;
  margin: auto;
  color: black;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px ;
    padding-left: 15px ;
    padding-right: 15px ;
  }
  
  @media (min-width: 1024px) {
    /* margin-top: 25px; */
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button:hover, .button2:hover {
  font-weight: 500 !important;
  cursor: pointer !important;
  background-color: #242424 !important;
  color: white !important;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;  
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px !important;
  text-align: center;
  width: 80%;
  height: auto;

  @media (min-width: 768px) {
    width: 60%;
  }
}

.closeButton {
  position: absolute;
  right: 0px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 15px;
}

.header {
  font-family: "Fredoka" !important;
  font-weight: 700;
  color: black;
  font-size: 18px ;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px ;
  }
  
  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

.city {
  font-family: "Fredoka" !important;
  font-weight: 500;
  color: black;
  margin-top: 5px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 16px ;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px ;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.scores {
  display: flex;
  /* flex-direction: row; */
  margin-top: 20px !important;
  margin-bottom: 30px;
  gap: 10px !important;
  width: 100%;
  justify-content: center;
  font-size: 14px ;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px ;
  }
  
  @media (min-width: 1024px) {
    font-size: 26px;
  }
}

.button2 {
  background-color: transparent;
  font-family: "Fredoka";
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* width: auto !important; */
  color: black;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 10px 10px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    padding: 10px 15px;
  }
  
  @media (min-width: 1024px) {
    font-size: 25px;
    padding: 10px 15px;
  }
}

.scoreItem {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;
  
  
  @media (max-width: 767px) {
    gap: 10px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 30px;
  }
  
  @media (min-width: 1024px) {
    gap: 30px;
  }
}

.username {
  font-family: "Fredoka" !important;
  font-weight: 600;
  color: black;
  /* font-size: 18px; */
  margin-right: 20px;
  flex: 1;
  text-align: left;
}

.points {
  font-family: "Fredoka" !important;
  font-weight: 400;
  color: black;
  /* font-size: 18px; */
}

.medals {
  display: flex;
  flex-direction: column;
  gap: 7px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    gap: 5px;
  }
  
  @media (min-width: 1024px) {
    gap: 6px;
  } 
}


.medal {
  @media (max-width: 767px) {
    margin-right: 10px;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-right: 10px;
  }
  
  @media (min-width: 1024px) {
    margin-right: 20px;
  }
}

.medalHidden {
  margin-right: 20px;
  visibility: hidden;
}

.skeletonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}