.button {
  background-color: transparent;
  font-family: "Fredoka";
  font-weight: 500;
  border: 1px solid black;
  border-radius: 5px;
  width: 100% ;
  margin: auto ;
  color: black;
  font-size: 14px;
  padding: 10px 15px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 26px;
  }
}

.button:hover {
  font-weight: 500;
  cursor: pointer;
  background-color: #242424;
  color: white;
}

