.button {
  margin: 20px;
  background-color: #242424 ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
  font-family: "Fredoka" ;
  font-weight: 600 ;
  color: white ;
  border-radius: 5px ;
  border: none ;
  font-size: 18px ;
  width: 150px;
  padding-top: 10px ;
  padding-bottom: 10px ;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 30px;
    width: 180px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    width: 230px;
  }
}

.button:hover {
  background-color: #383838;
  cursor: pointer;
}