.button {
  font-family: "Fredoka" !important;
  /* font-weight: 400; */
  color: white !important;
  background-color: #242424 !important;
  width: 100% !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  /* text-align: center; */
}


.button:hover {
 cursor: pointer !important;
 background-color: #333333 !important;
}

@media (hover: none) {
  .button:hover {
      cursor: pointer !important;
      background-color: #333333 !important;
  }
}

.modalOverlay {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: white;
  opacity: .9;
  z-index: 500;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.modalContent {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-height: 40%;
  width: 80%;
  padding: 15px;
  flex-direction: column;
  font-family: "Fredoka";
  font-weight: 400;
  font-size: 20px;
  gap: 15px;
  max-width: 800px;
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 20px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 28px;
  }
  
  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.header1 {
  font-weight: 600;
  font-size: 16px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
  
}

.header2 {
  font-weight: 600;
  font-size: 16px;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.text1, .text2 {
  font-size: 14px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px ;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.text1 {
  font-weight: 600;
}

.text2 {
  font-weight: 400;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.container {
  /* gap: 5px; */
  margin-top: 10px;
  width: fit-content;
  margin-bottom: 10px;

}

.text3 {
  margin-top: 15px;

  @media (max-width: 767px) {
    font-size: 14px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 17px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.buttonContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  justify-content: center; 
  column-gap: 25px;
  row-gap: 15px;
  width: 90%;

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 80%;
  }
}

.usernameContainer {
  margin-bottom: 10px;
}