/* @keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(10px) }
  50% { transform: translateX(-10px) }
  75% { transform: translateX(10px) }
  100% { transform: translateX(0) }
}

.shake {
  animation: shake 0.2s;
  visibility: hidden;
} */

@keyframes fade {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

.fade {
  animation: fade 2s;
}

.hidden {
  visibility: hidden;
}

/* styling */
.mapContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 767px) {
    padding: 5px;
  }
}

.title {
  font-family: "Fredoka";
  font-weight: 600;
  margin-bottom: 5px;

  @media (max-width: 767px) {
    font-size: 15px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 25px;
  }

  @media (min-width: 1024px) {
    font-size: 35px;
  }
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    margin-left: 15px !important;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 25px !important;
  }

  @media (min-width: 1024px) {
    margin-left: 35px !important;
  }
}

.box2 {
  position: relative; 
  z-index: 1;
  
  @media (max-width: 767px) {
    margin-right: 15px;
    margin-top: 3px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-right: 25px;
    margin-top: 6px;
  }

  @media (min-width: 1024px) {
    margin-right: 35px;
  }
}

.box3Box4Container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
}

.box3 {
  /* justify-content: right; */

  @media (max-width: 767px) {
    margin-top: 30px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 30px;
  }

  @media (min-width: 1024px) {
    margin-top: 20px;
  }
}

.box4 {
  /* justify-content: left;
  display: flex;
  width: 20%; */
  position: absolute;
  justify-content: center;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    margin-left: 240px;
    margin-top: 28px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-left: 400px;
    margin-top: 20px;
  }

  @media (min-width: 1024px) {
    margin-left: 455px;
    margin-top: 34px;
  }
}

.labelHidden {
  visibility: hidden !important;
}