.button {
  background-color: transparent ;
  font-family: "Fredoka" ;
  font-weight: 500 ;
  border: 1px solid black ;
  border-radius: 5px ;
  /* margin: auto ; */
  color: black ;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 10px 15px;
  /* transition: all 0.3s ease-in-out; */
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}
  
  .button:hover {
    font-weight: 500;
    cursor: pointer;
    background-color: #242424;
    color: white;
  }
  
  